@import "tailwindcss";

@theme {
  --color-background: #0a0a0a; /* Wax Black */
  --color-foreground: #f5f5f5; /* Off-White */
  
  --color-surface: #171717; /* Matte Grey */
  --color-muted: #a3a3a3; /* Muted Text */
  
  --color-accent-red: #e11d48; /* Vinyl Red */
  --color-accent-blue: #2563eb; /* Cobalt Blue */
  
  --font-display: var(--font-montserrat), sans-serif;
  --font-body: var(--font-opensans), sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}
